{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('student') }}">Alunos</a></li>
    <li class="breadcrumb-item active">Editar Aluno</li>
{% endblock %}

{% block content %}
    <h5 class="mb-4">Editar Aluno</h5>
    <form action="{{ url_for('editar_student', id=student.id) }}" method="POST">
        <div class="row">
            <div class="col">
                <label>Curso</label>
                {{ form.course_id(class="custom-select") }}
            </div>
            <div class="col">
                <label for="cpd">CPD do Aluno</label>
                <input type="number" id="cpd" name="cpd" class="form-control" value="{{ student.cpd }}">
            </div>
            <div class="col">
                <label for="course">Nome do Curso</label>
                <input type="text" id="name" name="name" class="form-control" value="{{ student.name }}">
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                    <label for="cpf">CPF do Aluno</label>
                    <input type="number" id="cpf" name="cpf" class="form-control" value="{{ student.cpf }}">
            </div>
            <div class="col">
                    <label for="email">E-mail do Aluno</label>
                    <input type="email" id="email" name="email" class="form-control" value="{{ student.email }}">
            </div>
            <div class="col">
                    <label for="phone">Telefone do Aluno</label>
                    <input type="number" id="phone" name="phone" class="form-control" value="{{ student.phone }}">
            </div>
        </div>
        <h5>Endereço</h5>
        <div class="row">
            <div class="col">
                <label for="cep">CEP</label>
                <input type="number" id="cep" name="cep" class="form-control" value="{{ student.student_address[0].cep }}">
            </div>
            <div class="col">
                <label for="state">Estado</label>
                <input type="text" id="state" name="state" class="form-control" value="{{ student.student_address[0].state }}">
            </div>
            <div class="col">
                <label for="city">Cidade</label>
                <input type="text" id="city" name="city" class="form-control" value="{{ student.student_address[0].city }}">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="bairro">Bairro</label>
                <input type="text" id="bairro" name="bairro" class="form-control" value="{{ student.student_address[0].bairro }}">
            </div>
            <div class="col">
                <label for="street">Cidade</label>
                <input type="text" id="street" name="street" class="form-control" value="{{ student.student_address[0].street }}">
            </div>
        </div>
        <a class="btn btn-secondary" href="{{ url_for('student') }}">Cancelar</a>
        <button class="btn btn-success" type="submit">Salvar</button>
    </form>
{% endblock %}