<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}SI CEUMA{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body class="page-top">
    {% block body %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary shadow">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">SI CEUMA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link fas fa-sign-out-alt" href="{{ url_for('logout') }}">Logout</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fas fa-user" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {{ current_user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                        <a class="dropdown-item" href="#">Último login - </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Mudar senha</a>
                    </div>
                </li>
            </ul>
        </div>
      </div>
    </nav>

    <!--Menssagens de alerta-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <ul class="flashes">
                    <div class="alert alert-{{ category }}">
                        <li>{{ message }}</li>
                    </div>
                </ul>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">
        <ol class="breadcrumb my-4">
            {% block breadcrumb %}
            {% endblock %}
        </ol>
        {% block content %}
        {% endblock %}
    </div><!--End container fluid-->

  {% endblock body %}
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}">
  </script>
  <script>
    $(document).ready(function () {
        //fecha o aviso automaticamente apos 2 segundos
        $(".alert").delay(2000).slideUp(500, function () {
            $(this).alert('close');
        });
    });   
   </script>
</body>

</html>