<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">

    <title>SI Ceuma - Login</title>



</head>

<body class="bg-dark">

    <div class="container">
        <div class="card card-login mx-auto mt-5" style="max-width:450px">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form action="#" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <div class="form-label-group">
                            {{ form.username(class="form-control",
                                placeholder="Nome de usuário") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            {{ form.password(class="form-control",
                                placeholder="Senha") }}
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{ form.remember_me }}Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <div class="text-center mt-2">
                    <a class="d-block small" href="#">Esqueceu a senha?</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>